html {
    min-height: 100%;
}
body{
    display: grid;
    height: 100%;
    grid-template-areas:
    "header header header"
    "title . ."
    "cont cont cont"
    "cont cont cont" 
    "cont cont cont"
    "footer footer footer";
    background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-color: #cccccc;
    color: ivory;
    margin-left: 100px;
}
h1{
    grid-area: header;
    width: 100%;
}
h3{
    grid-area: title;
    width: 100%;
}
h5{
    grid-area: footer;
    justify-self: center;
}
.book-shelf{
    grid-area: cont;
    width: 75%;
    height: 100%;
    display: grid;
    grid-template-rows: 40% 10% 15% 15% 15% 5% ;
    grid-template-areas: 
    "cur cur cur"
    "status status status"
    "list list list"
    "list list list"
    "list list list"
    ". . .";
    background-color: rgba(0, 0, 0, 0.6);
}
.currently-reading{
    padding: 10px;
    height: 100%;
    grid-area: cur;
    display: grid;
    grid-template-columns: 15% 15% 35% 35%;
    grid-template-areas:
    "book . . "
    "book title title"
    "book author author"
    "book page page" ;
}
.status-bar{
    height: 100%;
    margin: 10px;
    grid-area: status;
    font-size: 25px;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-areas: "count .  add";
    background-color: rgba(0, 0, 0, 0.8);
    align-content: center;
}
.book-list{
    margin: 10px;
    grid-area: list;
    height: 100%;
    overflow-y: auto;
}
.add{
    grid-area: add;
    width: fit-content;
    padding: 10px;
    background-color: green;
    border-radius: 100px;
    justify-self: end;
    text-align: center;
    font-size: 20px;
}
.cur-book, .book-img{
    grid-area: book;
    font-size: 50px;
    background-color: red;
}
.cur-title, .book-title{
    grid-area: title;
    font-size: 30px;
    align-self: center;
    padding: 10px;
}
.cur-author, .book-author{
    grid-area: author;
    font-size: 20px;
    align-self: center;
    padding: 10px;
}
.cur-page, .book-page{
    grid-area: page;
    font-size: 18px;
    align-self: center;
    padding: 10px;
}
.book{
    padding: 20px;
    display: grid;
    grid-template-columns: 10% 10% 40% 40%;
    grid-template-areas:
    "book . . "
    "book title title"
    "book author remove"
    "book page read";
}
.book-img{
    height: 100%;
}
.book-title{
    font-size: 20px;
}
.book-author{
    font-size: 17px;
}   
.book-page{
    font-size: 15px;
}
.remove{
    justify-self: end;
    width: fit-content;
    height: 20px;
    padding: 5px;
    background-color: red;
    border-radius: 100px;
    text-align: center;
    font-size: 15px;
    grid-area: remove;
}
.unread, .read{
    grid-area: read;
    justify-self: end;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    display: flex;
    background-color: yellow;
}
.read{
    background-color: green;
}
.tick-unread, .tick-read{
    height: 25%;
    width: 70%;
    position: relative;
    top: 13px;
    left: 5px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-radius: 10%;
    transform: rotate(-30deg);
}
.tick-read{
    border-bottom: 5px solid white;
    border-left: 5px solid white; 
}
.form{
    grid-area: list;
    font-size: 20px;
    justify-self: center;
    visibility: hidden;
}