html {
    min-height: 100%;
}
body{
    display: grid;
    grid-template-areas:
    "header header header"
    "cont cont cont"
    "cont cont cont" 
    "cont cont cont"
    "footer footer footer";
}
h3{
    grid-area: header;
    width: 100%;
    text-align: center;
    font-size: 30px;
    background-color: brown;
}
h5{
    grid-area: footer;
    justify-self: center;
}
.book-shelf{
    grid-area: cont;
    justify-self: center;
    height: 750px;
    width: 50%;
    display: grid;
    grid-template-rows: 40% 10% 15% 15% 15% 5% ;
    grid-template-areas: 
    "cur cur cur"
    "status status status"
    "list list list"
    "list list list"
    "list list list"
    " . . add";
    justify-items: center;
    align-items: stretch;
}
.currently-reading{
    height: 100%;
    width: 100%;
    background-color: black;
    grid-area: cur;
    display: grid;
    grid-template-columns: 15% 15% 35% 35%;
    grid-template-areas:
    "book book . . "
    "book book title title"
    "book book author author"
    "book book page page" ;
}
.status-bar{
    grid-area: status;
    height: 100%;
    width: 100%;
    background-color: grey;
}
.book-list{
    grid-area: list;
    height: 100%;
    width: 100%;
    background-color: beige;
    overflow: auto;
}
.add{
    grid-area: add;
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 100px;
    justify-self: end;
    text-align: center;
    font-size: 40px;
}
.cur-book, .book-img{
    grid-area: book;
    background-color: red;
}
.cur-title, .book-title{
    grid-area: title;
    font-size: 50px;
    align-self: center;
    padding: 10px;
    color: red;
}
.cur-author, .book-author{
    grid-area: author;
    font-size: 30px;
    align-self: center;
    padding: 10px;
    color: red;
}
.cur-page, .book-page{
    grid-area: page;
    font-size: 20px;
    align-self: center;
    padding: 10px;
    color: red;
}
.book{
    height: 40%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 10% 40% 40%;
    grid-template-areas:
    "book book . . "
    "book book title title"
    "book book author read"
    "book book page page" ;
}
.book-title{
    font-size: 30px;
}
.book-author{
    font-size: 15px;
}
.book-page{
    font-size: 10px;
}
.unread, .read{
    grid-area: read;
    justify-self: end;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    display: flex;
    background-color: yellow;
}
.read{
    background-color: green;
}
.tick-unread, .tick-read{
    height: 25%;
    width: 70%;
    position: relative;
    top: 13px;
    left: 5px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-radius: 10%;
    transform: rotate(-30deg);
}
.tick-read{
    border-bottom: 5px solid white;
    border-left: 5px solid white; 
}
.form{
    grid-area: list;
    visibility: hidden;
}